body {
	margin: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.App {
	text-align: center;
}

.nav-bar {
	display: flex;
	gap: 1rem;
	justify-content: flex-end;
	padding: 10px 20px;
	background-color: coral;
	font-size: larger;
	font-weight: 600;
	color: white;
	align-items: center;
}
.nav-bar a {
	color: inherit;
}
.nav-bar .user-data {
	display: flex;
	gap: 10px;
	align-items: center;
	margin-left: 30px;
}

.nav-bar img {
	border-radius: 50%;
	width: 30px;
}

.log-out {
	background-color: coral;
	border: 2px solid white;
	border-radius: 5px;
	color: white;
	cursor: pointer;
}
.log-out:hover {
	color: coral;
	background-color: white;
}

.new-post-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 20px;
}

.new-post-form input,
.new-post-form textarea {
	padding: 10px;
	font-size: large;
	border-radius: 10px;
	outline-color: coral;
	border: 0.5px solid coral;
}

.new-post-form input[type="submit"] {
	background-color: coral;
	border: 1px solid;
	color: white;
}

.new-post-form p {
	margin: 0;
	color: red;
	text-transform: capitalize;
	font-weight: 600;
	font-size: medium;
}
.home {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.post {
	margin: 20px;
	width: 100%;
	max-width: 450px;
}
.title {
	text-align: left;
	text-transform: uppercase;
}

.footer {
	border-bottom: 1px solid lightgray;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer p {
	padding-inline: 15px;
}

.footer button {
	margin-left: 10px;
}
.like-button {
	margin-right: 10px;
	border-radius: 7px;
}
.unlike-button {
	border-radius: 7px;
}
.delete-button {
	color: red;
	font-weight: 800;
	border-radius: 7px;
}
